body {
    font-family: 'Roboto', sans-serif;
}

.banner {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week2/banner.png?raw=true);
    background-position: 0 0;
}

.header {
    text-align: center;
    padding-top: 308px;
}

.text {
    font-size: 24px;
}

.header p {
    line-height: 32px;
    font-size: 24px;
    color: #FFFFFF;
    font-style: italic;
    font-weight: 700;
}

.header h1 {
    font-size: 80px;
    color: #FFFFFF;
    margin-bottom: 32px;
    line-height: 106px;
    font-style: italic;
    font-weight: 700;
}

.header ul {
    display: flex;
    justify-content: center;
}

.header ul li {
    margin-right: 16px;
    margin-top: 40px;
}

.header ul li a {
    display: block;
}

.header ul li:hover {
    background-color: gray;
}


.about {
    text-align: center;
}

.about h2 {
    margin-top: 56px;
    font-size: 64px;
    line-height: 84px;
    font-style: italic;
    font-weight: 700;
}

.about img {
    margin-top: 40px;
}

.about ul li {
    font-size: 24px;
    line-height: 32px;
}

.about ul li:nth-child(1) {
    margin-top: 20px;
    margin-bottom: 4px;
}

.about ul li:nth-child(3) {
    margin-top: 8px;
    line-height: 36px;
    margin-bottom: 28px;
}

.about ul:nth-child(3) {
    margin-top: 8px;
}

.about ul:nth-child(4) {
    display: inline-block;
    border-top: 1px solid black;
}

.about ul:nth-child(4) li {
    padding-top: 28px;
}

.about ul li {
    font-size: 24px;
    line-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: 700;
}

.about p {
    font-size: 24px;
    line-height: 42px;
    font-style: italic;
    font-weight: 700;
}

.dot {
    display: flex;
    align-items: center;
}

.dot::before {
    content: "";
    width: 22px;
    height: 22px;
    background-color: #891818;
    border-radius: 50%;
    margin-right: 16px;
}

.brand {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    margin-top: 56px;
}

.brand h2 {
    font-size: 64px;
    padding-top: 56px;
    padding-bottom: 12px;
    line-height: 84px;
    font-style: italic;
    font-weight: 700;
}

.brand h3 {
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 32px;
    font-style: italic;
}

.brand p {
    font-size: 20px;
    padding-bottom: 32px;
}

.brand p:nth-child(3) {
    line-height: 30px;
}

.firstPhoto {
    padding-top: 36px;
    padding-bottom: 40px;
}

.secondPhoto {
    padding-bottom: 160px;
}

.secondPhoto img {
    margin-left: 24px;
}

.works {
    color: #000000;
    text-align: center;
}

.works h2 {
    font-size: 64px;
    line-height: 84px;
    margin-top: 56px;
    font-style: italic;
    font-weight: 700;
}

.works p:nth-child(2) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 16px;
    margin-bottom: 56px;
}

.post img {
    margin-right: 24px;
}

.works ul {
    display: flex;
    justify-content: center;
}

.works ul li {
    margin-right: 24px;
}

.works ul p {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 48px;
    margin-top: 16px;
}

.contact {
    margin-top: 144px;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
}

.contact h2 {
    padding-top: 64px;
    padding-bottom: 16px;
    font-size: 64px;
    line-height: 84px;
    font-style: italic;
    font-weight: 700;
}

.contact li {
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 33px;
    font-style: italic;
}

.contact li a {
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

.contact li a:hover {
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 33px;
    color: blue;
}

.contact ul li:nth-child(2) {
    padding-bottom: 64px;
}